body {
  font-family: Arial;
  background-color: black;
  color: white;
  height: 3000px;
}



.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(68px, 410px) 600px minmax(300, 500px); 
  grid-template-areas: 
   "sidebar main aside";
}