body {
  background-color: black;
  color: white;
  font-family: Arial;
}

/**.container-2 {
  border: 1px solid rgb(40, 40, 40);
  border-radius: 20px;
  margin-left: 26px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}**/

.container-2 {
  border: 1px solid rgb(40, 40, 40);
  border-radius: 20px;
  margin-left: 26px;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 40px;
  grid-template-areas: 
    'title-2'
    'recommended-profiles'
    'recommended-profiles'
    'recommended-profiles'
    'recommended-profiles-more';
}

.title-2 {
  font-weight: bold;
  font-size: 20px;
  grid-area: title-2;
}

.recommended-profiles {
  display: grid;
  grid-template-columns: 50px 100px 200px;
  grid-template-rows: 24px 24px 24px;
  cursor: pointer;
  align-items: center;
  grid-area: recommended-profiles;
}

.recommended-profiles:hover {
  background-color: rgb(20, 20, 20);
}

.recommended-profiles-picture {
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.recommended-profiles-picture-g {
  width: 40px;
  border-radius: 2px;
  object-fit: cover;
}

.recommended-profiles-name {
  font-weight: bold;
  font-size: 14px;
}

.recommended-profiles-username {
  color: rgb(90, 90, 90);
  font-size: 14px;
  margin-top: 4px;
}

.recommended-profiles-button {
  background-color: white;
  font-weight: bold;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 20px;
}

.recommended-profiles-more {
  color: rgb(31, 151, 242);
  font-size: 14px;
  margin-top: 20px;
  grid-area: recommended-profiles-more;
}